*
 {
  box-sizing: border-box;
}

body {
  margin: 200;
  padding: 300;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

#navigation {
  background-color: #f2f2f2;
  padding: 10px;
}

.nav-list ul {
  list-style-type: none;
  margin: 500;
  padding: 500;
}

.nav-list li {
  display: inline-block;
  margin-right: 10px;
}

.nav-list li a {
  text-decoration: none;
  color: #333333;
  padding: 5px 10px;
}

.nav-list li a:hover {
  background-color: #dddddd;
}